In [2]:
import pandas as pd
import numpy as np
import json

In [3]:
df = pd.read_csv("MyEBirdData.csv")
#improve readability of colums
pd.set_option('display.max_columns', 500)
df.head(20)

,Submission ID,Common Name,Scientific Name,Taxonomic Order,Count,State/Province,County,Location ID,Location,Latitude,Longitude,Date,Time,Protocol,Duration (Min),All Obs Reported,Distance Traveled (km),Area Covered (ha),Number of Observers,Breeding Code,Observation Details,Checklist Comments,ML Catalog Numbers
0,S253493577,Canada Goose,Branta canadensis,330,X,US-MN,Hennepin,L48323731,Loring Lake,44.968562,-93.283645,2025-06-20,12:33 PM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
1,S250906203,White-winged Dove,Zenaida asiatica,2350,X,US-TX,Travis,L47746401,Joe Sayerâ€™s Tree,30.325708,-97.736916,2025-05-10,07:15 PM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
2,S250916505,White-winged Dove,Zenaida asiatica,2350,X,US-TX,Travis,L47747193,Paddock Tree,30.325626,-97.737256,2024-03-07,03:22 PM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
3,S250916389,White-winged Dove,Zenaida asiatica,2350,X,US-TX,Travis,L47747193,Paddock Tree,30.325626,-97.737256,2024-03-07,03:49 PM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
4,S250916181,White-winged Dove,Zenaida asiatica,2350,X,US-TX,Travis,L47747193,Paddock Tree,30.325626,-97.737256,2024-03-14,05:00 PM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
5,S250912169,White-winged Dove,Zenaida asiatica,2350,X,US-TX,Travis,L47747193,Paddock Tree,30.325626,-97.737256,2024-03-22,09:12 AM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
6,S250912070,White-winged Dove,Zenaida asiatica,2350,X,US-TX,Travis,L47747193,Paddock Tree,30.325626,-97.737256,2024-03-22,09:21 AM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
7,S250910817,White-winged Dove,Zenaida asiatica,2350,X,US-TX,Travis,L47747193,Paddock Tree,30.325626,-97.737256,2024-04-04,09:16 AM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
8,S250903038,White-winged Dove,Zenaida asiatica,2350,X,US-TX,Travis,L47746775,Phone Line,30.332433,-97.734297,2025-06-15,07:43 PM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
9,S250902915,White-winged Dove,Zenaida asiatica,2350,X,US-TX,Travis,L47746739,Phone Line,30.327368,-97.735602,2025-06-15,08:08 PM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
10,S250911726,White-winged Dove,Zenaida asiatica,2350,X,US-TX,Travis,L47748743,Zilker Park,30.268443,-97.770045,2024-03-23,01:38 PM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
11,S250915698,Mourning Dove,Zenaida macroura,2373,X,US-OH,Hamilton,L47747769,Norwood,39.154179,-84.454607,2024-03-16,08:26 AM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
12,S250910167,Chimney Swift,Chaetura pelagica,3842,X,US-OH,Hamilton,L47747769,Norwood,39.154179,-84.454607,2024-05-13,01:35 PM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
13,S250909775,Chimney Swift,Chaetura pelagica,3842,X,US-OH,Hamilton,L47747769,Norwood,39.154179,-84.454607,2024-05-15,08:15 AM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
14,S250909627,Chimney Swift,Chaetura pelagica,3842,X,US-OH,Hamilton,L47747769,Norwood,39.154179,-84.454607,2024-05-19,08:43 AM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
15,S250902789,Chimney Swift,Chaetura pelagica,3842,X,US-TX,Travis,L47746710,In flight,30.328592,-97.735455,2025-06-15,08:08 PM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
16,S250901404,Chimney Swift,Chaetura pelagica,3842,X,US-TX,Travis,L47746401,Joe Sayerâ€™s Tree,30.325708,-97.736916,2025-06-15,08:08 PM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
17,S250904084,Chimney Swift,Chaetura pelagica,3842,X,US-TX,Travis,L47746836,Parmer Parking Lot,30.429650,-97.747379,2025-06-10,08:42 PM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
18,S250907194,Killdeer,Charadrius vociferus,5770,X,US-TX,Caldwell,L47747740,Lone Star Gun Range,29.943833,-97.643266,2025-02-01,08:56 AM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN
19,S250907351,Killdeer,Charadrius vociferus,5770,X,US-OH,Hamilton,L47747769,Norwood,39.154179,-84.454607,2024-12-23,08:22 AM,eBird - Casual Observation,NaN,0,NaN,NaN,1,NaN,NaN,NaN,NaN

In [24]:
df.describe(include='all')

,Submission ID,Common Name,Scientific Name,Taxonomic Order,Count,State/Province,County,Location ID,Location,Latitude,Longitude,Date,Time,Protocol,Duration (Min),All Obs Reported,Distance Traveled (km),Area Covered (ha),Number of Observers,Breeding Code,Observation Details,Checklist Comments,ML Catalog Numbers
count,196,196,196,196.000000,196,196,196,196,196,196.000000,196.000000,196,196,196,0.0,196.0,0.0,0.0,196.0,0.0,0.0,0.0,0.0
unique,196,46,46,NaN,1,4,5,20,19,NaN,NaN,43,74,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,S253493577,Northern Cardinal,Cardinalis cardinalis,NaN,X,US-OH,Hamilton,L47747769,Norwood,NaN,NaN,2024-03-16,01:43 PM,eBird - Casual Observation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,26,26,NaN,196,96,96,96,96,NaN,NaN,63,10,196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,24807.903061,NaN,NaN,NaN,NaN,NaN,35.390214,-90.908057,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,10213.611899,NaN,NaN,NaN,NaN,NaN,4.776588,6.546675,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,330.000000,NaN,NaN,NaN,NaN,NaN,29.943833,-98.024564,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,21066.000000,NaN,NaN,NaN,NaN,NaN,30.330086,-97.737256,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,27870.000000,NaN,NaN,NaN,NaN,NaN,39.154179,-88.862183,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,32110.000000,NaN,NaN,NaN,NaN,NaN,39.154179,-84.454607,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,34224.000000,NaN,NaN,NaN,NaN,NaN,44.978486,-83.926885,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN

In [4]:
'''
Remove columns:
Submission ID
Count
Location ID 
Protocol
Duration (Min)
All Obs Reported
Distance Traveled (km)
Area Covered (ha)
Number of Observers
Breeding Code
Observation Details
Checklist Comments
ML Catalog Numbers
''' 

df = df.drop(['Submission ID', 
            'Count',
            'Location ID',
            'Protocol',
            'Duration (Min)',
            'All Obs Reported',
            'Distance Traveled (km)',
            'Area Covered (ha)',
            'Number of Observers',
            'Breeding Code',
            'Observation Details',
            'Checklist Comments',
            'ML Catalog Numbers'], axis=1)

In [5]:
'''
Anonymize Location Data
'''
# Add random noise (adjust scale as needed)
noise_level = 0.005 # adjust this value for the desired level of masking
df['Masked_Latitude'] = df['Latitude'] + np.random.uniform(-noise_level, noise_level, size=len(df))
df['Masked_Longitude'] = df['Longitude'] + np.random.uniform(-noise_level, noise_level, size=len(df))

df = df.drop(['Latitude', 
            'Longitude'], axis=1)

df.head(20)

,Common Name,Scientific Name,Taxonomic Order,State/Province,County,Location,Date,Time,Masked_Latitude,Masked_Longitude
0,Canada Goose,Branta canadensis,330,US-MN,Hennepin,Loring Lake,2025-06-20,12:33 PM,44.969525,-93.280487
1,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Joe Sayerâ€™s Tree,2025-05-10,07:15 PM,30.330235,-97.741855
2,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Paddock Tree,2024-03-07,03:22 PM,30.322846,-97.735500
3,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Paddock Tree,2024-03-07,03:49 PM,30.327140,-97.736929
4,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Paddock Tree,2024-03-14,05:00 PM,30.326567,-97.734166
5,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Paddock Tree,2024-03-22,09:12 AM,30.328767,-97.734399
6,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Paddock Tree,2024-03-22,09:21 AM,30.324816,-97.742160
7,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Paddock Tree,2024-04-04,09:16 AM,30.329818,-97.733436
8,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Phone Line,2025-06-15,07:43 PM,30.330287,-97.736596
9,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Phone Line,2025-06-15,08:08 PM,30.331250,-97.738482
10,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Zilker Park,2024-03-23,01:38 PM,30.265249,-97.767134
11,Mourning Dove,Zenaida macroura,2373,US-OH,Hamilton,Norwood,2024-03-16,08:26 AM,39.153385,-84.452132
12,Chimney Swift,Chaetura pelagica,3842,US-OH,Hamilton,Norwood,2024-05-13,01:35 PM,39.151760,-84.449615
13,Chimney Swift,Chaetura pelagica,3842,US-OH,Hamilton,Norwood,2024-05-15,08:15 AM,39.153421,-84.455751
14,Chimney Swift,Chaetura pelagica,3842,US-OH,Hamilton,Norwood,2024-05-19,08:43 AM,39.153029,-84.457599
15,Chimney Swift,Chaetura pelagica,3842,US-TX,Travis,In flight,2025-06-15,08:08 PM,30.333178,-97.736734
16,Chimney Swift,Chaetura pelagica,3842,US-TX,Travis,Joe Sayerâ€™s Tree,2025-06-15,08:08 PM,30.330705,-97.740545
17,Chimney Swift,Chaetura pelagica,3842,US-TX,Travis,Parmer Parking Lot,2025-06-10,08:42 PM,30.426198,-97.751689
18,Killdeer,Charadrius vociferus,5770,US-TX,Caldwell,Lone Star Gun Range,2025-02-01,08:56 AM,29.939656,-97.643785
19,Killdeer,Charadrius vociferus,5770,US-OH,Hamilton,Norwood,2024-12-23,08:22 AM,39.157326,-84.456294

In [6]:
df['Location'].unique()

array(['Loring Lake', 'Joe Sayerâ€™s Tree', 'Paddock Tree', 'Phone Line',
       'Zilker Park', 'Norwood', 'In flight', 'Parmer Parking Lot',
       'Lone Star Gun Range', 'Arroyo Seco Tree', 'Pace Bend Park',
       'Arroyo Seco', 'Sunshine Community Gardens', 'Arroyo seco Tree',
       'Willow', 'Loring Park', 'University Of Tennessee',
       'Nicollet Mall light rail Station', 'Burnet HEB Parking Lot'],
      dtype=object)

In [7]:
#rename locations (optional)
loc_dict = {'Joe Sayerâ€™s Tree':'Neighborhood Walk',
            'Paddock Tree':'Backyard',
            'Phone Line':'Neighborhood Walk',
            'In flight':'Neighborhood Walk',
            'Parmer Parking Lot':'Work',
            'Arroyo Seco Tree':'Neighborhood Walk',
            'Arroyo Seco':'Neighborhood Walk',
            'Arroyo seco Tree':'Neighborhood Walk',
            'Willow':'Neighborhood Walk',
            'Nicollet Mall light rail Station':'Downtown Minneapolis'
}
df = df.replace({'Location': loc_dict})
df['Location'].unique()

array(['Loring Lake', 'Neighborhood Walk', 'Backyard', 'Zilker Park',
       'Norwood', 'Work', 'Lone Star Gun Range', 'Pace Bend Park',
       'Sunshine Community Gardens', 'Loring Park',
       'University Of Tennessee', 'Downtown Minneapolis',
       'Burnet HEB Parking Lot'], dtype=object)

In [8]:
taxonomy_df = pd.read_csv('NACC_list_species.csv')
taxonomy_df.head(20)

,id,rank,common_name,french_name,order,family,subfamily,genus,species,annotation,status_accidental,status_hawaiian,status_introduced,status_nonbreeding,status_extinct,status_misplaced
0,2,species,Highland Tinamou,Tinamou de Bonaparte,Tinamiformes,Tinamidae,NaN,Nothocercus,Nothocercus bonapartei,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,species,Great Tinamou,Grand Tinamou,Tinamiformes,Tinamidae,NaN,Tinamus,Tinamus major,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,species,Little Tinamou,Tinamou soui,Tinamiformes,Tinamidae,NaN,Crypturellus,Crypturellus soui,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,species,Thicket Tinamou,Tinamou cannelle,Tinamiformes,Tinamidae,NaN,Crypturellus,Crypturellus cinnamomeus,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,species,Slaty-breasted Tinamou,Tinamou de Boucard,Tinamiformes,Tinamidae,NaN,Crypturellus,Crypturellus boucardi,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,species,Choco Tinamou,Tinamou de Kerr,Tinamiformes,Tinamidae,NaN,Crypturellus,Crypturellus kerriae,Monotypic.,NaN,NaN,NaN,NaN,NaN,NaN
6,7,species,White-faced Whistling-Duck,Dendrocygne veuf,Anseriformes,Anatidae,Dendrocygninae,Dendrocygna,Dendrocygna viduata,Monotypic.,NaN,NaN,NaN,NaN,NaN,NaN
7,8,species,Black-bellied Whistling-Duck,Dendrocygne Ã ventre noir,Anseriformes,Anatidae,Dendrocygninae,Dendrocygna,Dendrocygna autumnalis,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,species,West Indian Whistling-Duck,Dendrocygne des Antilles,Anseriformes,Anatidae,Dendrocygninae,Dendrocygna,Dendrocygna arborea,Monotypic.,NaN,NaN,NaN,NaN,NaN,NaN
9,10,species,Fulvous Whistling-Duck,Dendrocygne fauve,Anseriformes,Anatidae,Dendrocygninae,Dendrocygna,Dendrocygna bicolor,Monotypic.,NaN,NaN,NaN,NaN,NaN,NaN
10,12681,species,Emperor Goose,Oie empereur,Anseriformes,Anatidae,Anserinae,Anser,Anser canagicus,Monotypic. Formerly placed in the genus Chen.,NaN,NaN,NaN,NaN,NaN,NaN
11,12691,species,Snow Goose,Oie des neiges,Anseriformes,Anatidae,Anserinae,Anser,Anser caerulescens,Formerly placed in the genus Chen.,NaN,NaN,NaN,NaN,NaN,NaN
12,12701,species,Ross's Goose,Oie de Ross,Anseriformes,Anatidae,Anserinae,Anser,Anser rossii,Formerly placed in the genus Chen.,NaN,NaN,NaN,NaN,NaN,NaN
13,2049,species,Graylag Goose,Oie cendrÃ©e,Anseriformes,Anatidae,Anserinae,Anser,Anser anser,NaN,A,NaN,NaN,NaN,NaN,NaN
14,14,species,Greater White-fronted Goose,Oie rieuse,Anseriformes,Anatidae,Anserinae,Anser,Anser albifrons,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,species,Lesser White-fronted Goose,Oie naine,Anseriformes,Anatidae,Anserinae,Anser,Anser erythropus,Monotypic.,A,NaN,NaN,NaN,NaN,NaN
16,11,species,Taiga Bean-Goose,Oie des moissons,Anseriformes,Anatidae,Anserinae,Anser,Anser fabalis,NaN,A,NaN,NaN,NaN,NaN,NaN
17,12,species,Tundra Bean-Goose,Oie de la toundra,Anseriformes,Anatidae,Anserinae,Anser,Anser serrirostris,NaN,A,NaN,NaN,NaN,NaN,NaN
18,13,species,Pink-footed Goose,Oie Ã bec court,Anseriformes,Anatidae,Anserinae,Anser,Anser brachyrhynchus,Monotypic. Considered subspecies of A. fabalis...,NaN,NaN,NaN,NaN,NaN,NaN
19,19,species,Brant,Bernache cravant,Anseriformes,Anatidae,Anserinae,Branta,Branta bernicla,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
taxonomy_df.describe(include='all')

,id,rank,common_name,french_name,order,family,subfamily,genus,species,annotation,status_accidental,status_hawaiian,status_introduced,status_nonbreeding,status_extinct,status_misplaced
count,2202.000000,2202,2202,2202,2202,2202,1145,2202,2202,1053,214,91,66,45,36,1
unique,NaN,1,2202,2202,31,133,80,831,2202,268,1,1,1,1,1,1
top,NaN,species,Highland Tinamou,Tinamou de Bonaparte,Passeriformes,Tyrannidae,Trochilinae,Setophaga,Nothocercus bonapartei,Monotypic.,A,H,I,N,â€,*
freq,NaN,2202,1,1,1111,131,117,34,1,700,214,91,66,45,36,1
mean,3070.210718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,4579.834030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,625.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1258.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1864.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,15111.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
taxonomy_df = taxonomy_df.drop([
    'id',
    'rank',
    'common_name',
    'french_name',
    'annotation',
    'status_accidental',
    'status_hawaiian','status_introduced',
    'status_nonbreeding',
    'status_extinct',
    'status_misplaced'], axis=1)

In [39]:
merged_df = pd.merge(df, taxonomy_df, how='left', left_on='Scientific Name', right_on='species')
merged_df

,Common Name,Scientific Name,Taxonomic Order,State/Province,County,Location,Date,Time,Masked_Latitude,Masked_Longitude,order,family,subfamily,genus,species
0,Canada Goose,Branta canadensis,330,US-MN,Hennepin,Loring Lake,2025-06-20,12:33 PM,44.969525,-93.280487,Anseriformes,Anatidae,Anserinae,Branta,Branta canadensis
1,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Neighborhood Walk,2025-05-10,07:15 PM,30.330235,-97.741855,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica
2,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Backyard,2024-03-07,03:22 PM,30.322846,-97.735500,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica
3,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Backyard,2024-03-07,03:49 PM,30.327140,-97.736929,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica
4,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Backyard,2024-03-14,05:00 PM,30.326567,-97.734166,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Northern Cardinal,Cardinalis cardinalis,34224,US-TX,Travis,Backyard,2024-04-04,09:16 AM,30.325170,-97.732625,Passeriformes,Cardinalidae,NaN,Cardinalis,Cardinalis cardinalis
192,Northern Cardinal,Cardinalis cardinalis,34224,US-TX,Travis,Backyard,2025-05-11,11:42 AM,30.329530,-97.740642,Passeriformes,Cardinalidae,NaN,Cardinalis,Cardinalis cardinalis
193,Northern Cardinal,Cardinalis cardinalis,34224,US-TX,Travis,Work,2025-05-07,08:44 AM,30.427979,-97.743577,Passeriformes,Cardinalidae,NaN,Cardinalis,Cardinalis cardinalis
194,Northern Cardinal,Cardinalis cardinalis,34224,US-TX,Travis,Sunshine Community Gardens,2024-03-15,02:41 PM,30.320433,-97.733425,Passeriformes,Cardinalidae,NaN,Cardinalis,Cardinalis cardinalis
195,Northern Cardinal,Cardinalis cardinalis,34224,US-TX,Travis,Sunshine Community Gardens,2024-04-01,02:11 PM,30.321214,-97.737140,Passeriformes,Cardinalidae,NaN,Cardinalis,Cardinalis cardinalis

In [31]:
with open('non_passerine_families.json', 'r') as f:
    non_passerine_dict = json.load(f)

In [32]:
with open('passerine_families.json', 'r') as f:
    passerine_dict = json.load(f)

In [45]:
manual_edit_dict = {"Corvidae": "Corvids", "Vireonidae": "Vireos", "Psittacidae":"Parrots"}

In [46]:
merged_dict = {**passerine_dict, **non_passerine_dict, **manual_edit_dict}

In [47]:
merged_df['family_common_name'] = merged_df['family'].map(merged_dict)

In [50]:
order_dict = { "Struthioniformes": "Ostriches", 
              "Rheiformes": "Rheas", 
              "Apterygiformes": "Kiwis",  
              "Casuariiformes": "Emu, cassowaries",
              "Tinamiformes": "Tinamous",
              "Galliformes": "Landfowls",
              "Anseriformes": "Waterfowl",
              "Caprimulgiformes": "Nightjars, frogmouths, potoos, oilbirds",
              "Apodiformes": "Owlet-nightjars, treeswifts, swifts, hummingbirds", 
              "Musophagiformes": "Turacos",
              "Otidiformes": "Bustards",
              "Cuculiformes": "Cuckoos" ,
              "Mesitornithiformes": "Mesites",
              "Pterocliformes": "Sandgrouse",
              "Columbiformes": "Pigeons",
              "Gruiformes": "Diverse terrestrial and marshbirds",
              "Podicipediformes": "Grebes",
              "Phoenicopteriformes": "Flamingo",
              "Charadriiformes": "Shorebirds and relatives",
              "Eurypygiformes": "Sunbittern, Kagu",
              "Phaethontiformes": "Tropicbirds",
              "Gaviiformes": "Loons",
              "Sphenisciformes": "Penguins",
              "Procellariiformes": "Tube-nosed seabirds",
              "Ciconiiformes": "Storks",
              "Suliformes": "Totipalmate water and diving birds",
              "Pelecaniformes": "Ibis, herons, pelicans,  Hammerkop, Shoebill",
              "Opisthocomiformes": "Hoatzin",
              "Accipitriformes": "Raptors including New World Vultures",
              "Strigiformes": "Owls",
              "Coliiformes": "Mousebirds",
              "Leptosomiformes": "Cuckoo Roller",
              "Trogoniformes": "Trogons, quetzals",
              "Bucerotiformes": "Hornbills, hoopoes, wood hoopoes",
              "Coraciiformes": "Kingfishers and allies",
              "Piciformes": "Woodpeckers and allies",
              "Cariamiformes": "Seriemas",
              "Falconiformes": "Falcons", 
              "Psittaciformes": "Parrots", 
              "Passeriformes": "Perching birds"    
}

In [53]:
merged_df['order_common_name'] = merged_df['order'].map(order_dict)

In [54]:
merged_df.head(20)

,Common Name,Scientific Name,Taxonomic Order,State/Province,County,Location,Date,Time,Masked_Latitude,Masked_Longitude,order,family,subfamily,genus,species,family_common_name,order_common_name
0,Canada Goose,Branta canadensis,330,US-MN,Hennepin,Loring Lake,2025-06-20,12:33 PM,44.969525,-93.280487,Anseriformes,Anatidae,Anserinae,Branta,Branta canadensis,"Ducks, Geese, Swans",Waterfowl
1,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Neighborhood Walk,2025-05-10,07:15 PM,30.330235,-97.741855,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica,Pigeons and Doves,Pigeons
2,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Backyard,2024-03-07,03:22 PM,30.322846,-97.735500,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica,Pigeons and Doves,Pigeons
3,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Backyard,2024-03-07,03:49 PM,30.327140,-97.736929,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica,Pigeons and Doves,Pigeons
4,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Backyard,2024-03-14,05:00 PM,30.326567,-97.734166,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica,Pigeons and Doves,Pigeons
5,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Backyard,2024-03-22,09:12 AM,30.328767,-97.734399,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica,Pigeons and Doves,Pigeons
6,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Backyard,2024-03-22,09:21 AM,30.324816,-97.742160,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica,Pigeons and Doves,Pigeons
7,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Backyard,2024-04-04,09:16 AM,30.329818,-97.733436,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica,Pigeons and Doves,Pigeons
8,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Neighborhood Walk,2025-06-15,07:43 PM,30.330287,-97.736596,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica,Pigeons and Doves,Pigeons
9,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Neighborhood Walk,2025-06-15,08:08 PM,30.331250,-97.738482,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica,Pigeons and Doves,Pigeons
10,White-winged Dove,Zenaida asiatica,2350,US-TX,Travis,Zilker Park,2024-03-23,01:38 PM,30.265249,-97.767134,Columbiformes,Columbidae,NaN,Zenaida,Zenaida asiatica,Pigeons and Doves,Pigeons
11,Mourning Dove,Zenaida macroura,2373,US-OH,Hamilton,Norwood,2024-03-16,08:26 AM,39.153385,-84.452132,Columbiformes,Columbidae,NaN,Zenaida,Zenaida macroura,Pigeons and Doves,Pigeons
12,Chimney Swift,Chaetura pelagica,3842,US-OH,Hamilton,Norwood,2024-05-13,01:35 PM,39.151760,-84.449615,Apodiformes,Apodidae,Chaeturinae,Chaetura,Chaetura pelagica,Swifts,"Owlet-nightjars, treeswifts, swifts, hummingbirds"
13,Chimney Swift,Chaetura pelagica,3842,US-OH,Hamilton,Norwood,2024-05-15,08:15 AM,39.153421,-84.455751,Apodiformes,Apodidae,Chaeturinae,Chaetura,Chaetura pelagica,Swifts,"Owlet-nightjars, treeswifts, swifts, hummingbirds"
14,Chimney Swift,Chaetura pelagica,3842,US-OH,Hamilton,Norwood,2024-05-19,08:43 AM,39.153029,-84.457599,Apodiformes,Apodidae,Chaeturinae,Chaetura,Chaetura pelagica,Swifts,"Owlet-nightjars, treeswifts, swifts, hummingbirds"
15,Chimney Swift,Chaetura pelagica,3842,US-TX,Travis,Neighborhood Walk,2025-06-15,08:08 PM,30.333178,-97.736734,Apodiformes,Apodidae,Chaeturinae,Chaetura,Chaetura pelagica,Swifts,"Owlet-nightjars, treeswifts, swifts, hummingbirds"
16,Chimney Swift,Chaetura pelagica,3842,US-TX,Travis,Neighborhood Walk,2025-06-15,08:08 PM,30.330705,-97.740545,Apodiformes,Apodidae,Chaeturinae,Chaetura,Chaetura pelagica,Swifts,"Owlet-nightjars, treeswifts, swifts, hummingbirds"
17,Chimney Swift,Chaetura pelagica,3842,US-TX,Travis,Work,2025-06-10,08:42 PM,30.426198,-97.751689,Apodiformes,Apodidae,Chaeturinae,Chaetura,Chaetura pelagica,Swifts,"Owlet-nightjars, treeswifts, swifts, hummingbirds"
18,Killdeer,Charadrius vociferus,5770,US-TX,Caldwell,Lone Star Gun Range,2025-02-01,08:56 AM,29.939656,-97.643785,Charadriiformes,Charadriidae,Charadriinae,Charadrius,Charadrius vociferus,Plovers and Lapwings,Shorebirds and relatives
19,Killdeer,Charadrius vociferus,5770,US-OH,Hamilton,Norwood,2024-12-23,08:22 AM,39.157326,-84.456294,Charadriiformes,Charadriidae,Charadriinae,Charadrius,Charadrius vociferus,Plovers and Lapwings,Shorebirds and relatives

In [55]:
merged_df.to_csv('bird_data.csv', index=False)